/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/* BASIC STYLES */
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* INPUTS */
input {
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
}
input.error {
    outline: red !important;
    border-color: red !important;
    color: red;
}

.input-line {
    display: flex;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.input-error {
    font-size: 0.85rem;
    color: red;
}

/* BUTTONS */
button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: 0.15s ease-in-out;
}
button:hover,
button:focus-visible {
    background-color: #0f0c1c;
    color: white;
}

.button-secondary {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: 0.15s ease-in-out;
    font-size: 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* DIVIDER */
.divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

/* LINKS */
a {
    color: blue;
}
a:hover {
    text-decoration: underline;
}

/* FORM */
.form-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 400px;
}
.form-container h1 {
    text-align: center;
}

.alert {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid red;
    color: darkred;
    background-color: rgba(255, 0, 0, 0.05);
}

/* NAVBAR */
nav {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .right {
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

/* ADMIN PAGE */
.restaurant-list {
    width: 300px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.restaurant-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* DASHBOARD */
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 3rem;
}

.dashboard-tiles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.dashboard-tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 1px solid #aaa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.15s;
    border-radius: 0.25rem;
}
.dashboard-tile:hover {
    transform: scale(1.05);
}

/* REVIEWS */
.review {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.review-title {
    font-weight: bold;
    font-size: 1.2rem;
}
.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

/* DATA TABLES */
table {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
tr {
    display: flex;
    align-items: center;
    gap: 5rem;
    border-bottom: 1px solid #ccc;
}
td,
th {
    padding: 0.25rem 0.5rem;
    width: 250px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
