// Common animations

.animate {
  opacity: 0;
}

.animate-up {
  animation: up .5s forwards;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Animation delays
@for $i from 1 through 10 {
  .delay-#{$i}{
    animation-delay: #{$i*300}ms;
  }
}