/* STYLES FOR THE NAVBAR */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 25px 100px;
}

/* NAV LIST */
nav .nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .nav-list a {
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
}
nav .nav-list a:hover {
  text-decoration: underline;
}

/* MENU ICON */
nav .nav-menu-icon {
  cursor: pointer;
  margin-left: auto;
  display: none;
}

/* MEDIA QUERIES */
@media screen and (width <= 768px) {
  nav {
    padding: 15px 35px;
  }
  nav .nav-menu-icon {
    display: block;
  }
  nav .nav-list {
    display: none;
  }
}
